<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
      <%= f.label :track_file %><br />
      <%= f.file_field :track_file %>
  </div>

  <div class="field">
    <%= f.label :track_image %><br />
    <%= f.file_field :track_image %>
  </div>
  <div class="field">
    <% Album.all.each do |album| %>
    <%= check_box_tag "track[album_ids][]", album.id, @track.albums.include?(album), id: "track_album_ids_#{album.id}" %>
    <%= f.label :album_ids, album.name, for: "track_album_ids_#{album.id}" %>
    <% end %>
  <div class="actions">
    <%= f.submit class: "button expand" %>
  </div>
<% end %>
