<h1>Your Turn tables</h1>

<table>
  <thead>
    <tr>
      <th>Album Cover</th>
      <th>Track </th>
      <th>Edit </th>
      <th>Destroy </th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
    <tr>
      <td><%= image_tag track.track_image, width: 90 %></td>
      <td><%= link_to track.name, track %></td>

        <td><%= link_to 'Edit', edit_track_path(track) %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Track', new_track_path %>
