<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
  <%= @track.track_file.url %>
</p>
<audio controls="controls">
  <source src="<%= @track.track_file.url %>" />    
  </audio>

  <p>
    <strong>User:</strong>
    <%= @track.user_id %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= @track.album_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @track.image %>
  </p>




  <%= link_to 'Edit', edit_track_path(@track) %> |
  <%= link_to 'Back', tracks_path %>
