<p id="notice"><%= notice %></p>
<div class="small-6 large-centered columns">
  <%= image_tag @track.track_image, alt:"Alt text is really required", class: "track-show" %>

  <strong>Name:</strong>
  <%= @track.name %>

  
  <p>
    <strong>Artist:</strong>
    <%= @track.user.try :email %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= @track.try :album_id %>
  </p>
  <audio controls="controls">
    <source src="<%= @track.track_file.url %>" />    
  </audio>

    <hr>
    <% @track.comments.approved.each do |comment| %>
    <%= comment.comment %>
    <br>
    <%= comment.user.try :email %>
    <hr>
    <% end %>

    <%= form_for [@track, Comment.new] do |f| %>
    <%= render partial: 'comments/form', locals: { f: f } %>
    <%= f.submit 'Add Comment!', class: "button expand" %>
    <% end %>
  

  <%= link_to 'Edit', edit_track_path(@track) %> |
  <%= link_to 'Back', tracks_path %>
</div>