<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @album.album_image, alt:"Alt text is really required", width: 100 %>
</p>

<p>
  <strong>Tracks:</strong>
  <% @album.tracks.each do |track| %>
<%= track.name %>
<% end %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
